###common###
logs/
target/
*.log
.classpath
.factorypath
.project
.settings/

### eclipse ###
RemoteSystemsTempFiles/
.metadata/

###STS###
.apt_generated
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/PINESOFT_FRAME/pinesoft-boot-pom/pinesoft-cloud-pom/pinesoft-config-server/.classpath
